[submodule "templates/skin/soundche"]
	path = templates/skin/soundche
	url = git@github.com:soundche/lstemplate-soundche.git
[submodule "plugins/twitt"]
	path = plugins/twitt
	url = git@github.com:spolischook/twitt.git
[submodule "plugins/mainpreview"]
	path = plugins/mainpreview
	url = https://github.com/livestreet/lsplugin-mainpreview.git
